.bg{
    background-image: url(https://static.wixstatic.com/media/3683c8_7e737a4c25944344a7d178b7f49cb270~mv2.jpg/v1/fill/w_1600,h_737,fp_0.55_0.64,q_85,enc_auto/3683c8_7e737a4c25944344a7d178b7f49cb270~mv2.jpg); 
    background-size: cover;
    min-height: 130vh;
}

#crd1{
    background-color : rgb(242, 242, 217);
    width: 500px;
    color: black;
    text-align: center;
    box-shadow: 10px 10px 30px green;
    border-radius: 10%;
}

#crd2{
    background-color : rgb(242, 242, 217);
    width: 450px;
    margin-left: 50px;
    margin-top: 550px;
    box-shadow: 10px 10px 30px green;
    border-radius: 7%;
}

.spade{
    font-size: 7rem;
    position: absolute;
    opacity: 50%;
    text-align: center;
    left: 700px;
}
